dj-database-url==0.4.1
Django==1.9.6
django-postgrespool==0.3.0
funcsigs==1.0.2
future==0.15.2
gunicorn==19.6.0
mock==2.0.0
oauthlib==1.1.1
pbr==1.10.0
pep8==1.7.0
psycopg2==2.6.1
pybitbucket==0.11.1
PyGithub==1.26.0
requests==2.10.0
requests-oauthlib==0.6.1
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.0.13
uritemplate==0.6
wheel==0.29.0
